
@keyframes fadetoright {
  0% {
    transform: translateX(-10rem);
    opacity: 0;
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes fadetoleft {
  0% {
    transform: translateX(10rem);
    opacity: 0;
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadetotop {
  0% {
    transform: translateY(10rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}